canvas {
  background-color: #101016;
  position: fixed;
  top: 0;
  left: 0;
}

#title {
  position: fixed;
  text-align: center;
  text-shadow: 2px 2px 50px rgb(120, 124, 127) ;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  font-style: italic;
  z-index: 100;
  font-size: 105px;
  top: 25%;
  margin-left: 10%;
  color: aliceblue;
}

#description {
  position: fixed;
  text-align: center;
  text-shadow: 2px 2px 10px rgb(104, 107, 110) ;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: italic;
  z-index: 100;
  font-size: 35px;
  top: 50%;
  margin-left: 10%;
  color: rgb(143, 148, 153);
}

h1, h2, h3 {
  position: fixed;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  z-index: 100;
}